<h1>Udělili jste souhlas se zpracováním osobních údajů</h1>
<p>Dobrý den,</p>
<p>udělili jste souhlas se zpracováním osobních údajů. Důvody zpracovávání: {{ consent.request.reason }}. Souhlas můžete kdykoliv odvolat kliknutím na <a href="https://souhlasy.wikimedia.cz{{consent.revoke_link()}}">tento odkaz</a>. </p>
<p>Budete-li mít jakékoliv další otázky týkající se zpracovávání těchto nebo jiných Vašich údajů, nebo budete chtít uplatnit právo na úpravu či výpis zpracováváných údajů podle nařízení GDPR, můžete tak učinit odpovědí na tento e-mail. </p>
<p>Wikimedia Česká republika</p>