<h1>Odvolání souhlasu se zpracováním osobních údajů</h1>
<p>Dobrý den,</p>
<p>toto je automatické oznámení, že uživatel {{consent.email}} odvolal souhlas se zpracováním osobních údajů (účel zpracovávání {{request.reason}}). Prosím, aktualizujte veškeré interní systémy související se zmíněným zpracováváním. Na tento e-mail neodpovídejte.</p>

<p>
	Systém pro správu souhlasů se zpracováním osobních údajů<br>
	<a href="mailto:souhlasy@wikimedia.cz">souhlasy@wikimedia.cz</a><br>
	Wikimedia Česká republika
</p>