<h1>Odvolali jste souhlas se zpracováním osobních údajů</h1>
<p>Dobrý den,</p>
<p>Odvolali jste souhlas se zpracováním osobních údajů (účel zpracování: {{request.reason}}). Souhlas můžete kdykoliv znovu udělit kliknutím na <a href="https://souhlasy.wikimedia.cz{{consent.grant_link()}}">tento odkaz</a>. </p>
<p>Budete-li mít jakékoliv další otázky týkající se zpracovávání těchto nebo jiných Vašich údajů, nebo budete chtít uplatnit právo na úpravu či výpis zpracováváných údajů podle nařízení GDPR, můžete tak učinit odpovědí na tento e-mail. </p>
<p>Wikimedia Česká republika</p>